:root{
    --main-color: #10cab7;
    --second-color: #2c4755;
    --main-padding: 60px;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Work sans", sans-serif;
}
.header{
    background-color: #eee;
}
.contanier{
    margin-left:   auto;
    margin-right:  auto;
    padding-left:  15px;
    padding-right: 15px;
    /* background-color: #eee; */
}
/* Start Components */
.specail-heading{
    color: #ebeced;
    font-size: 100px;
    letter-spacing: -3px;
    font-weight: 800;
    margin: 0;
    text-align: center;
}
.specail-heading + p{
    color: #777;
    text-align: center;
    margin: -30px 0 0;
}

@media (max-width:767px){
    .specail-heading{
        font-size: 60px;
    }
    .specail-heading + p{
        margin: -20px 0 0;
        max-width: 277px;
    }
}
/* End Components */
/* Small Screan */
@media (min-width:768px){
    .contanier{
        width: 750px;
    }
}
/* Meduim Screan */
@media (min-width:992px){
    .contanier{
        width: 970px;
    }
}
@media (min-width:1120px){
    .contanier{
        width:1170px
    }
}
.header{
    padding: 20px;
}
.header .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .links{
    position: relative;
}

.header .links .icons{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
   justify-content: flex-end;
}
.header .links .icons span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icons span:first-child{
    width:100% ;
    
}
.header .links .icons span:nth-child(2){
    width:60% ;
    transition: 0.3s;
} 
.header .links:hover .icons span:nth-child(2){
    width: 100%;
}
.header .links .icons span:last-child{
    width:100% ;
}
.header .logo{
    width: 60px;
    padding-top: 10px;
}
.header .links ul{
    padding: 0;
    min-width: 200px;
    margin: 0;
    list-style: none;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    transition: 0.3s;
    z-index: 5;
}
.header .links:hover ul{
    display:block;
}
.header .links ul::before{
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
}
.header .links ul li a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #333;
    transition: 0.3s;
}
.header .links ul :hover a{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* Start Landing Section */
.landing{
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 75px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    color:var(--main-color);
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;

}
/* End Landing Section */

/* ////////////////// */

/* Srart Icons Sections */
.lorem .contanier {
    display: grid;
    background-color: #f6f6f6;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 80px;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.lorem .feat{
    padding: 20px;
    text-align: center;
}
.lorem  .feat i{
    color: var(--main-color);
    
}
.lorem  .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.lorem  .feat p{
    line-height: 1.8;
  
}
/* End Icons Sections */

/* //////////// */

/* Start Services Sections*/
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
   
}
.services .services-heading{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-heading .ser{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .services .services-heading .ser{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-heading .ser .text {
    flex: 1;

}
.services .services-heading  .ser i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-heading .ser .text h3{
    margin: 0 0 20px;
}
.services .services-heading .ser .text p{
    color: #444;
    line-height: 1.8;
    font-weight: 300;
}

.services .services-heading .image img{
    width: 260px;
}
.services .services-heading .image{
    text-align: center;
    position: relative;
}
.services .services-heading .image::before{
    content: "";
    background-color: var(--second-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 10px;
    z-index: -1;
}
@media (max-width: 1199px){
    .image-media{
        display: none;
    }
}
/* End Services Sections*/
 
/* ////////////////////// */

/* Start Protfolio Section */
.protfolio{
    background-color: #f6f6f6;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.protfolio .protfolio-heading{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.protfolio .protfolio-heading .card{
    background-color: white;
}
.protfolio .protfolio-heading .card img{
    width: 100%;
}
.protfolio .protfolio-heading .card .prot h3{
    margin: 0;
}
.protfolio .protfolio-heading .card .prot p{
    line-height: 1.8;
    font-weight: 300;
    color: #777;
    margin-bottom: 0;
}
@media (min-width:767px){
    .protfolio .protfolio-heading .card .prot{
        text-align: center;
    }
}
/* End Protfolio Section */

/* /////////////// */

/* Start About Sections */
.about{
    /* background-color: white; */
    padding-top: var(--main-padding);
    padding-bottom: calc(var(--main-padding) + 60px);
}
.about .about-heading{
   margin-top: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

@media (max-width: 991px){
    .about .about-heading {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-heading .images {
    position: relative;
    
}
.about .about-heading .images img{
    width: 250px;
    height: 375px;
}
@media (max-width: 991px){
    .about .about-heading .images{
        margin: 0 auto 60px;
    }
} 
.about .about-heading .images::before{
    content: "";
    height: calc(100% + 80px);
    width: 100px;
    background-color:#ebeced;
    top: -40px;
    left: -25px;
    z-index: -1;
    position: absolute;
}
.about .about-heading .images::after{
    content: "";
    width: 120px;
    height: 300px;
    position: absolute;
    border-left: 100px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    top: -40px;
    z-index: -1;
}
@media (max-width: 991px){
    .about .about-heading .images::after,
    .about .about-heading .images::before{
        display: none;
    }
}
.about .about-heading .text {
    flex-basis: calc(100% - 500px);
}
.about .about-heading .text p:first-of-type{
    font-weight: 800;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-heading .text hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-heading .text p:last-of-type{
    font-weight: 300;
    color: #777;
    line-height: 2;
}
/* End About Sections */

/* ////////// */

/* Start Contact Sections */
.contact{
    background-color: #f6f6f6;
    padding-top: var(--main-padding);
    padding-bottom:var(--main-padding);
}
.contact .cont{
    padding-top: var(--main-padding);
    padding-bottom:var(--main-padding);
    text-align: center;
}
.contact .cont .lable{
    font-weight: 800;
    font-size: 40px;
    color: #2c4755;
    margin-bottom: 15px;
    letter-spacing: -2;
}
.contact .cont a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
}
@media (max-width:767px){
    .contact .cont a,
    .contact .cont .lable{
        font-size: 20px;
    }
}
.contact .cont .ico{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 16px;
}
.contact .cont .ico i{
    margin-left: 10px;
    color: var(--second-color);
    margin-top: 18px;
    font-size: 20px;
}
/* @media (max-width:767px){
    .contact .cont .ico {
        font-size: 15px;
    }
} */
/* End Contact Sections */

/* ///////////// */

/* <!-- Start Footer */
.footer{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: var(--second-color);
    height: 60px;
    color: white;
    font-size: 16px;
}
span{
    color: var(--main-color);
    font-weight: bold;
}
@media (max-width:767px){
    .footer{
        font-size: 12px;
        height: 50px;
    }
}
.footer .hamza{
    color: rgb(64, 163, 64);
    font-size: 10px;
    letter-spacing: -2px;
    align-self: self-end;
    padding: 23px;
}

/* <!-- End Footer --> */